{%- comment -%}Emoji as Favico:  https://stackoverflow.com/a/62438464{%- endcomment -%}
<link rel="icon" href="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2016%2016'%3E%3Ctext%20x='0'%20y='14'%3EðŸŒ¬ï¸%3C/text%3E%3C/svg%3E" type="image/svg+xml" />

<title>{{ titleText }}</title>

<meta name="description" contents="{{ page.description }}" />
<meta name="generator" content="Eleventy - 11ty - https://11ty.dev" />
<link rel="canonical" href="{{ page.url }}" />

<!-- OG cards -->
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:description" content="{{ page.description }}" />
<meta property="og:site_name" content="{{ page.title }}" />
<meta property="og:locale" content="en_US" />
<meta property="og:url" content="{{ page.url }}" />
<!-- End OG cards -->

<meta name="image" content="/static/images/og.jpg">
<meta property="og:image" content="/static/images/og.jpg">
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:image" content="/static/images/og.jpg"/>